{{!-- <div class="col s12 m4">
		<div class="project center">
			<div class="project-title">ImageHosting</div>
			<div class="project-subtitle">Quickly upload and store an image</div>
			<div class="project-description">Image Hosting allows a user to upload an image and choose the file-name or have it randomly generated. <span class="red-text">Please note that this script is vulnerable to injection. It is not recommended to use on a production server.</span></div>
			<div class="project-logos">
				<div class="project-logo logo-github" data-bind-href="https://github.com/HexRdesign/imagehosting"></div>
				<div class="project-logo logo-favicon logo-favicon-ih" data-bind-href="/projects/imagehosting"></div>
			</div>
		</div>
	</div> --}}
{{!-- <div class="col s12 m4">
		<div class="project project-coming-soon center">
			<div class="project-coming-soon-ribbon">Coming Soon!</div>
			<div class="project-title">Spotify Web Player</div>
			<div class="project-subtitle">A simple to use extension to increase web interface productivity</div>
			<div class="project-description">Here at HexR, we use Spotify like crazy. With a beautiful web interface, we couldn't resist creating an extension that uses built in hotkeys to skip tracks.</div>
			<div class="project-logos">
				<div class="project-logo logo-github project-disabled-logo"></div>
				<div class="project-logo logo-favicon logo-favicion-null project-disabled-logo"></div>
			</div>
		</div>
	</div>
	<div class="col s12 m2"></div>
</div> --}}
