@font-face {
	font-family: 'anders';
	src: url(../font/anders.ttf);
	font-display: swap;
}

.font-anders {
	font-family: 'anders', sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex: 1 0 auto;
	padding: 3rem 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

body,
.page-background,
.background-0 {
	background-color: #12607D !important;
}

footer {
	position: relative;
	bottom: 0;


	&.page-footer {
		margin-top: 0;
		padding-top: 0;
	}
}

.section.section-1,
.section.section-2,
.section.section-3 {
	min-height: 300px;
	color: white;
}

.section .benefit-icon {
	margin-top: 75px !important;
}

@media only screen and (max-width: 601px) {
	.section .benefit-icon {
		margin: 0 !important;
		text-align: center !important;
	}
}

.background-1,
.section-1 {
	background-color: #4889F4 !important;
	background: linear-gradient(285deg, #4889F4, blue);
}

.background-2,
.section-2 {
	background-color: #DEB887 !important;
	background: linear-gradient(285deg, #DEB887, #dd9f4d);
}

.background-3,
.section-3 {
	background-color: #006400 !important;
	background: linear-gradient(285deg, #42a92c, #006400);
}

.background-1.opposite,
.section-1.opposite {
	background-color: #4889F4 !important;
	background: linear-gradient(75deg, #4889F4, blue);
}

.background-2.opposite,
.section-2.opposite {
	background-color: #dd9f4d !important;
	background: linear-gradient(75deg, #DEB887, #dd9f4d);
}

.background-3.opposite,
.section-3.opposite {
	background-color: #42a92c !important;
	background: linear-gradient(75deg, #42a92c, #006400);
}

#white-text {
	color: #c0c0c0 !important;
}

.side-nav a {
	color: inherit;
}

#subtitle {
	font-weight: 800;
}

.footer-link {
	color: #fddc95 !important;
}

#request {
	overflow-x: hidden;
}

.logo {
	max-width: 50% !important;
	background-color: transparent !important;
	margin-left: 25%;
}

a.active {
	background-color: #00008B;
	background-color: rgba(0, 0, 0, 0.1);
}

#mobile {
	font-size: 150%;
	line-height: 72px;
}

nav .sidenav-trigger i {
	font-size: 2.5em;
}

.footer-nav-link {
	line-height: 55px;
}

.modal-content {
	background: #fff;
}

/* Fixes for Materialize 1.0.0 */
.sidenav-overlay {
	z-index: 996 !important;
}

.sidenav {
	li {
		width: 100%;
	}

	a {
		width: 100%;
		color: white !important;
	}
}

.hexr-center {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

tr {
	border-bottom: 1px solid rgba(255,255,255,0.5);
}
/* End Fixes for Materialize 1.0.0 */

/* Styles for contact message box */
#pgp-input {
	color: white;
	min-height: 300px;
	padding: 2.5em;
	width: 100%;
}
/* End styles for contact message box */
