main {
	align-items: normal;
	padding-top: 0
}

#index-banner {
	z-index: 5;
	background-image: url('/assets/img/hero.jpeg');
	background-size: cover;
	background-attachment: fixed;
	background-position-y: 50%;
	height: 150%;
}

#intro-text {
	background: rgba(0,0,0,0.6);
	margin: 0;
	margin-top: 5rem;
	padding: 1rem 0;
}
