---
title: About HexR - Why us?
---
{{#contentFor "head"}}
<style>
	ul>li>span {font-weight: 700 !important}
	main ul li {list-style-type: initial !important}
	main ul {padding-left: 40px !important}
</style>
{{/contentFor}}
<div class="container">
	<h1 class="center">About HexR</h1>
	<p class="flow-text">
		HexR (Pronounced Hex-Er) was founded on April 13, 2014 with a goal. To write code for websites. That's what we're really about. But it's also nice to know what makes us different. Here, you can find the answer to the question <i>Why should <strong>I</strong> choose to have my website written by HexR?</i>
	</p>
	<p class="flow-text">
		Well, here are a few reasons why:
		<ul class="flow-text">
			<li><span>HexR is 100% non-profit</span>
				<ul>
					<li>
						In fact, HexR is a zero-dollar organization. That means we don't spend or earn <strong><em>ANY </em></strong> money. Some of the {{!-- <a href="">  --}}donations{{!--  </a>--}} we recieve go straight to <a href="/sponsors">our sponsors</a> as a token of gratitude, and the rest is given to STEM clubs and organizations in local high schools
					</li>
					<li>
						This means that our goal is getting you a website that works in a timely manner. Our <em>only </em>focus is you.
					</li>
				</ul>
			</li>
			<li><span>HexR is simple</span>
				<ul>
					<li>The code we write is no nonsense. We don't waste code. The backbone of the site is minimal. We don't need fancy stuff to produce modern sites</li>
					<li><a href="https://www.github.com/hexrdesign" target="_blank">Check out our code</a> and you will notice that we've done a lot to make sure that this website is small and loads fast.</li>
				</ul>
			</li>
			<li><span>We're adaptive</span>
				<ul>
					<li>If you already have a website, we can use it to update it to modern standards</li>
					<li>We know a variety of framweorks, and if we don't know yours, we're willing to learn it.</li>
					<li>Our goal is to produce your website your way. No shortcuts.</li>
				</ul>
			</li>
			<li><span>It's <strong><em>FREE</em></strong></span>
				<ul>
					<li>The only time you pay us is if you feel that you want to donate to the cause. You can <a target="_blank" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=3XHVATZCY468U">donate here</a>.</li>
					<li>The only price you pay is what you need - hosting, domains, emails, etc. Our <a href="/pricing">plans</a> show you what you might need to pay.</li>
				</ul>
			</li>
			<li><span>We don't discriminate against anything</span>
				<ul>
					<li>First and foremost, almost all business is done online. That means we don't discriminate by race or gender or anything in between</li>
					<li>We also accept new coders, old coders, bad coders and no coders. Our goal is to provide you with a website. If you want to make one yourself, we plan on starting a video series explaining different languages, and you are free to contact us with questions.</li>
				</ul>
			</li>
		</ul>
	</p>
	<p class="flow-text">If you don't understand something or want to know more, please feel free to <a href="/contact">contact us</a> and we will work to explain it to you. We truely care about your business because the world deserves websites that are modern, simple and change the world.</p>
</div>
