---
title: HexR - Quality websites at a price that can't be beat
path: /index.html
meta:
  home: true
---

{{#contentFor "head"}}
<style>
	main {align-items: normal}
	#index-banner {
		z-index: 5;
		background-image: url('/assets/img/hero.jpeg');
		background-size: cover;
		background-attachment: fixed;
		background-position-y: 50%;
		height: 150%;
	}
</style>
{{/contentFor}}
<div id="index-banner" class="transparent">
	<div class="section no-pad-bot">
		<div class="container">
			<h1 class="header col s12 center blue-grey-text text-darken-3">HexR</h1>
			<h4 class="header col s12 center flow-text blue-grey-text text-darken-3" id="subtitle">
				Custom websites on a whole new level
			</h4>
			<br/>
			<div class="row center">
				<a href="/about" class="btn-large waves-effect waves-light hexr-background z-depth-1">
					Learn More
				</a>
			</div>
			<br>
			<br>
		</div>
	</div>
</div>
<div class="section animated fadeInUp" id="intro">
	<div class="row container">
		<div class="col s12 m12 l12">
			<p class="flow-text white-text">
				HexR. The only organization dedicated to producing websites of any scale to anyone who needs it. From the smallest individual to the largest business, we're ready to take on any web design challenge. But you might be wondering why you should choose us. Here's 6 reasons why! (If you don't see anything, scroll down a little bit).
			</p>
		</div>
	</div>
</div>
<div class="section section-1 z-depth-5 valign-wrapper" id="benefit-1">
	<div class="row container hide valign">
		<div class="col s12 m5 l5 benefit-icon"><i class="material-icons large">code</i></div>
		<div class="col s12 m7 l7 right-align">
			<h3>Beautifully Coded</h3>
			<span class="flow-text">When you choose HexR to write your website, you will get simple, clean, efficient and hack-free code. Everything works. Everywhere.</span>
		</div>
	</div>
</div>
<div class="section section-2 z-depth-4 valign-wrapper" id="benefit-2">
	<div class="row container hide valign">
		<div class="col s12 m7 l7">
			<h3>Scalable</h3>
			<span class="flow-text">HexR websites go through a big evaluation before being available for you. This includes responsive design and robust backend. Every website will work everywhere and can support any amount of content.</span>
		</div>
		<div class="col s12 m5 l5 right-align benefit-icon"><i class="material-icons large">settings_overscan</i></div>
	</div>
</div>
<div class="section section-3 z-depth-3 valign-wrapper opposite" id="benefit-3">
	<div class="row container hide valign">
		<div class="col s12 m5 l5 benefit-icon"><i class="material-icons large">$$$</i></div>
		<div class="col s12 m7 l7 right-align">
			<h3>Inexpensive</h3>
			<span class="flow-text">You probably will get the design we produce for free. That's because of our <a href="/initiative" class="red-text text-darken-4">Initiative</a> to make websites. We also have access to many tools and services at a lower rate.</span>
		</div>
	</div>
</div>
<div class="section section-1 z-depth-2 valign-wrapper opposite" id="benefit-4">
	<div class="row container hide valign">
		<div class="col s12 m7 l7">
			<h3>Manageable</h3>
			<span class="flow-text">We get all the emails so you don't have to. All of the background stuff is managed by us so you can focus on the content that matters most to you.</span>
		</div>
		<div class="col s12 m5 l5 right-align benefit-icon"><i class="material-icons large">dashboard</i></div>
	</div>
</div>
<div class="section section-2 z-depth-1 valign-wrapper opposite" id="benefit-5">
	<div class="row container hide valign">
		<div class="col s12 m5 l5 benefit-icon"><i class="material-icons large">lock</i></div>
		<div class="col s12 m7 l7">
			<h3 class="right-align">Secure</h3>
			<span class="flow-text right-align">
				Most HexR sites use the
				<a href="https://www.wordpress.org/" class="red-text text-darken-4" {{> blank-target}}>WordPress</a>
				CMS. The open-source nature of the platform makes it possible to have a robust, secure website.</span>
		</div>
	</div>
</div>
<div class="section section-3 valign-wrapper" id="benefit-6" data-animate="jello">
	<div class="row container hide valign">
		<div class="col s12 m7 l7">
			<h3>Support</h3>
			<span class="flow-text">However you want your website and whatever you need, HexR will work to make it happen. From the computer fearing individual to the tech savvy engineer, we're ready to work with you, all the way through.</span>
		</div>
		<div class="col s12 m5 l5 right-align benefit-icon"><i class="material-icons large">live_help</i></div>
	</div>
</div>
<div class="section center white-text valign" id="contact">
	<div class="valign">
		<p class="flow-text">So what are you waiting for?</p>
			<a class="modal-trigger btn flow-text waves-effect waves-light hexr-background" href="#request">
				GET YOUR WEBSITE NOW!
			</a>
		<br/>
		<br/>
	</div>
</div>
<div id="request" class="modal">
	<div class="modal-content row black-text">
		<h4>Request a website!</h4>
		<p class="red-text">* denotes required field.</p>
		<div class="error-list red-text"></div>
		<form id="request-site" class="col s12">
			<div class="row">
				<div class="input-field col m6"><i class="material-icons prefix">contacts</i>
					<input id="first_name" name="first_name" type="text" class="validate" required />
					<label for="first_name">First Name <a class="red-text">*</a></label>
				</div>
				<div class="input-field col m6"><i class="material-icons prefix">contacts</i>
					<input id="last_name" name="last_name" type="text" class="validate" required />
					<label for="last_name">Last Name <a class="red-text">*</a></label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col m6"><i class="material-icons prefix">email</i>
					<input id="email" name="email" type="email" class="validate" required />
					<label for="email">Email Address <a class="red-text">*</a></label>
				</div>
				<div class="input-field col m6"><i class="material-icons prefix">phone</i>
					<input id="phone" name="phone" type="tel" class="validate" required />
					<label for="email">Phone Number <a class="red-text">*</a></label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12"><i class="material-icons prefix">subtitles</i>
					<input id="organization" name="organization" type="text" class="validate" required />
					<label for="organization">Organization Name <a class="red-text">*</a></label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12"><i class="material-icons prefix">web</i>
					<input id="website" name="website" type="url" />
					<label for="website">Organization Website (optional)</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12"><i class="material-icons prefix">message</i>
					<textarea id="org-desc" name="org-desc" class="materialize-textarea" required></textarea>
					<label for="org-desc">Briefly describe your organization <a class="red-text">*</a></label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12"><i class="material-icons prefix">view_list</i>
					<textarea id="org-web-requirements" name="org-web-requirements" class="materialize-textarea" required></textarea>
					<label for="org-web-requirements">Briefly describe what you need in your website <a class="red-text">*</a></label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s4"><i class="material-icons prefix">assignment_ind</i>
					<input type="number" id="num-employees" name="num-employees" class="validate" required />
					<label for="num-employees">Employees<a class="red-text">*</a></label>
				</div>
				<div class="input-field col m4"><i class="material-icons prefix">$</i>
					<input type="number" id="income" name="income" class="validate" required />
					<label for="profit">Income <a class="red-text">*</a></label>
				</div>
				<div class="input-field col m4">
					<div class="switch">
						<label>For profit
							<input type="checkbox" id="profit" name="profit" class="validate"><span class="lever"></span>Non profit</label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12 offset-m4 center">
					<div class="g-recaptcha" data-sitekey="{{@site.recaptcha_key}}"></div>
				</div>
				<p class="flow-text">Note: Your IP address will be logged to prevent abuse</p>
			</div>
			<div class="row">
				<button type="submit" class="btn waves-effect waves-effect-light">Submit</button>
				<input type="hidden" name="submitted" />
			</div>
		</form>
	</div>
</div>
{{#contentFor "scripts"}}
<link rel="stylesheet" href="/assets/css/animations.home.css" />
<script>
	//$(".parallax").parallax();
/*var o = [{
		selector: '#benefit-1',
		offset: 200,
		callback: '$("#benefit-1").children().addClass("animated slideInRight").removeClass("hide");'
	}, {
		selector: '#benefit-2',
		offset: 200,
		callback: '$("#benefit-2").children().addClass("animated slideInLeft").removeClass("hide");'
	}, {
		selector: '#benefit-3',
		offset: 200,
		callback: '$("#benefit-3").children().addClass("animated slideInRight").removeClass("hide");'
	}, {
		selector: '#benefit-4',
		offset: 200,
		callback: '$("#benefit-4").children().addClass("animated slideInLeft").removeClass("hide");'
	}, {
		selector: '#benefit-5',
		offset: 200,
		callback: '$("#benefit-5").children().addClass("animated slideInRight").removeClass("hide");'
	}, {
		selector: '#benefit-6',
		offset: 200,
		callback: '$("#benefit-6").children().addClass("animated slideInLeft").removeClass("hide");'
	}, {
		selector: '#contact',
		offset: 100,
		callback: '$("#contact").children().addClass("animated rotateIn").delay(1000).removeClass("rotateIn").addClass("flash")'
	}, ];
	if ($(window).width() >= 922) M.ScrollSpy(o);
	else*/ document.querySelectorAll('.section .row').forEach(el => el.classList.remove('hide'));// .addClass('center');
</script>
<script src="/assets/js/submit-request.js"></script>
{{/contentFor}}
