---
title: HexR - Quality websites at a price that can't be beat
path: /
captcha: true
meta:
  home: true
---
{{#contentFor "head"}}
<style>.noscript.hide{display: initial !important}</style>
<link rel='prefetch' content="/assets/img/hero.jpeg" />
{{/contentFor}}
<div id="index-banner" class="transparent">
	<div class="section no-pad-bot">
		<div class="container">
			<h1 class="header col s12 center blue-grey-text text-darken-3">HexR</h1>
			<h4 class="header col s12 center flow-text blue-grey-text text-darken-3" id="subtitle">
				Custom websites on a whole new level
			</h4>
			<br/>
			<div class="row center">
				<a href="/about" class="btn-large waves-effect waves-light hexr-background z-depth-1">
					Learn More
				</a>
			</div>
			<br>
			<br>
		</div>
	</div>
	<div id="intro-text">
		<div class="animated fadeInUp container white-text">
			<p class="flow-text">
				HexR. The only organization dedicated to producing websites of any scale to anyone who needs it. From the smallest individual to the largest business, we're ready to take on any web design challenge. But you might be wondering why you should choose us. Here are 6 reasons why!
			</p>
		</div>
	</div>
</div>
<div class="section section-1 z-depth-5 valign-wrapper" id="benefit-1">
	<div class="row container hide noscript valign">
		<div class="col s12 m5 l5 benefit-icon"><i class="material-icons large">code</i></div>
		<div class="col s12 m7 l7 right-align">
			<h3>Beautifully Coded</h3>
			<span class="flow-text">When you choose HexR to write your website, you will get simple, clean, efficient and hack-free code. Everything works. Everywhere.</span>
		</div>
	</div>
</div>
<div class="section section-2 z-depth-4 valign-wrapper" id="benefit-2">
	<div class="row container hide noscript valign">
		<div class="col s12 m7 l7">
			<h3>Scalable</h3>
			<span class="flow-text">HexR websites go through a big evaluation before being available for you. This includes responsive design and robust backend. Every website will work everywhere and can support any amount of content.</span>
		</div>
		<div class="col s12 m5 l5 right-align benefit-icon"><i class="material-icons large">settings_overscan</i></div>
	</div>
</div>
<div class="section section-3 z-depth-3 valign-wrapper opposite" id="benefit-3">
	<div class="row container hide noscript valign">
		<div class="col s12 m5 l5 benefit-icon"><i class="material-icons large">$$$</i></div>
		<div class="col s12 m7 l7 right-align">
			<h3>Inexpensive</h3>
			<span class="flow-text">You probably will get the design we produce for free. That's because of our <a href="/initiative" class="red-text text-darken-4">Initiative</a> to make websites. We also have access to many tools and services at a lower rate.</span>
		</div>
	</div>
</div>
<div class="section section-1 z-depth-2 valign-wrapper opposite" id="benefit-4">
	<div class="row container hide noscript valign">
		<div class="col s12 m7 l7">
			<h3>Manageable</h3>
			<span class="flow-text">We get all the emails so you don't have to. All of the background stuff is managed by us so you can focus on the content that matters most to you.</span>
		</div>
		<div class="col s12 m5 l5 right-align benefit-icon"><i class="material-icons large">dashboard</i></div>
	</div>
</div>
<div class="section section-2 z-depth-1 valign-wrapper opposite" id="benefit-5">
	<div class="row container hide noscript valign">
		<div class="col s12 m5 l5 benefit-icon"><i class="material-icons large">lock</i></div>
		<div class="col s12 m7 l7">
			<h3 class="right-align">Secure</h3>
			<span class="flow-text right-align">
				Most HexR sites use the
				<a href="https://www.wordpress.org/" class="red-text text-darken-4" {{> blank-target}}>WordPress</a>
				CMS. The open-source nature of the platform makes it possible to have a robust, secure website.</span>
		</div>
	</div>
</div>
<div class="section section-3 valign-wrapper" id="benefit-6" data-animate="jello">
	<div class="row container hide noscript valign">
		<div class="col s12 m7 l7">
			<h3>Support</h3>
			<span class="flow-text">However you want your website and whatever you need, HexR will work to make it happen. From the computer fearing individual to the tech savvy engineer, we're ready to work with you, all the way through.</span>
		</div>
		<div class="col s12 m5 l5 right-align benefit-icon"><i class="material-icons large">live_help</i></div>
	</div>
</div>
<div class="section center white-text valign" id="contact">
	<div class="valign">
		<p class="flow-text">So what are you waiting for?</p>
			<a class="noscript btn flow-text waves-effect waves-light hexr-background" href="/request/email">
				GET YOUR WEBSITE NOW!
			</a>
			<a class="modal-trigger needsjs btn flow-text waves-effect waves-light hexr-background" href="#request">
				GET YOUR WEBSITE NOW!
			</a>
		<br/>
		<br/>
	</div>
</div>
{{> components/request-form}}
{{#contentFor "scripts"}}
<link rel="stylesheet" href="/assets/css/animations.home.css" />
{{!-- <script>
$(".parallax").parallax();
var o = [{
		selector: '#benefit-1',
		offset: 200,
		callback: '$("#benefit-1").children().addClass("animated slideInRight").removeClass("hide");'
	}, {
		selector: '#benefit-2',
		offset: 200,
		callback: '$("#benefit-2").children().addClass("animated slideInLeft").removeClass("hide");'
	}, {
		selector: '#benefit-3',
		offset: 200,
		callback: '$("#benefit-3").children().addClass("animated slideInRight").removeClass("hide");'
	}, {
		selector: '#benefit-4',
		offset: 200,
		callback: '$("#benefit-4").children().addClass("animated slideInLeft").removeClass("hide");'
	}, {
		selector: '#benefit-5',
		offset: 200,
		callback: '$("#benefit-5").children().addClass("animated slideInRight").removeClass("hide");'
	}, {
		selector: '#benefit-6',
		offset: 200,
		callback: '$("#benefit-6").children().addClass("animated slideInLeft").removeClass("hide");'
	}, {
		selector: '#contact',
		offset: 100,
		callback: '$("#contact").children().addClass("animated rotateIn").delay(1000).removeClass("rotateIn").addClass("flash")'
	}, ];
	if ($(window).width() >= 922) M.ScrollSpy(o);
	else document.querySelectorAll('.section .row').forEach(el => el.classList.remove('hide'));
</script> --}}
{{/contentFor}}
