---
title: The HexR Initiative - Why we do what we do
---
<div class="container">
	<div id="initiative">
		<h1>The HexR Initiative</h1>
		<p class="fadein flow-text">tl;dr? Make modern websites, get paid in satisfaction.</p>
		<p class="fadein flow-text">But don't tl;dr, the cool kids aren't!</p>
		<p class="fadein flow-text">Here at HexR, we don't like money. It hurts the life of too many people.</p>
		<p class="fadein flow-text">Take any person in the world. If they want a website, completely branded, they can expect to pay a lot of money - with all these terms like hosting, building, DNS, backend, ect.</p>
		<p class="fadein flow-text">Many people have come to view website building as scary, and in the end, pay for it with their wallet.</p>
		<p class="fadein flow-text">Why? Easy, because every place that people go to in order to obtain a website is backed by something - money, so those places work hard to get it.</p>
		<p class="fadein flow-text">HexR isn't one of those companies, for one simple reason. HexR is is <strong>FREE</strong>.</p>
		<p class="fadein flow-text">Everything HexR uses has been provided for free.</p>
		<p class="fadein flow-text">Server hosting is sponsored by <a href="https://linode.com" {{> blank-target}}>Linode </a>, the domain by <a href="https://gandi.net" {{> blank-target}}>Gandi</a> and mail by <a href="https://mail.yandex.com" {{> blank-target}}>Yandex</a>.</p>
		<p class="fadein flow-text">Any money HexR gets is repopulated to the community through donations to local high school clubs inspiring STEM principles, such as robotics clubs, engineering clubs and 3D printing clubs.</p>
		<p class="fadein flow-text">Our world is in a modern age, and since we can't fight it, we might as well embrace it by providing people with positive values into the system of research, development and production.</p>
		<p class="fadein flow-text">HexR doesn't get paid in money, but in satisfaction. We want to be able to visit any website, and see one thing - built through the HexR initiative.</p>
		<p class="fadein flow-text">People shouldn't work for money, but for satisfaction. We hope by getting the word out, we can stop doing what we do for money, and instead do it because we love it.</p>
		<p class="fadein flow-text">Every single person in HexR gets paid a total of $0.00 per year, the same amount that HexR vows to spend, for the one reason that we are physically restricted from living without working.</p>
	</div>
	<div id="about">
		<h1>Why the initiative?</h1>
		<p class="fadein flow-text">HexR is an organization that was founded with one goal -</p>
		<p class="fadein flow-text"><em>inspire and provide the world with modern, easy to use and simple websites.</em></p>
		<p class="fadein flow-text">Why? Well, since the use of computers has practically changed our world,</p>
		<p class="fadein flow-text">it is becoming easier and easier to create services to automatically generate websites based on the users wants,</p>
		<p class="fadein flow-text"><em>which has caused the idea of website development to decline.</em></p>
		<p class="fadein flow-text">Now, website"development" is focused around a drag and drop interface which can be accessed and edited anywhere,</p>
		<p class="fadein flow-text">leading to the importance of basic principles to come to a decline.</p>
		<p class="fadein flow-text"><em>But at what cost is this happening?</em></p>
		<p class="fadein flow-text">The basics behind end user web interfaces - HTML, JavasScript, CSS, etc...</p>
		<p class="fadein flow-text">are becoming less and less important for people that want to create a personal website.</p>
		<p class="fadein flow-text">A few years ago, if someone wanted a website, they had 2 options –</p>
		<p class="fadein flow-text"><em>Learn</em> to write it, or<em> pay</em> someone else to do it.</p>
		<p class="fadein flow-text">Fewer and fewer people care about the structures that form the core of a website.</p>
		<p class="fadein flow-text">Of course, now that we have less interest in these core languages,</p>
		<p class="fadein flow-text">less and less people are learning the logic behind them – </p>
		<p class="fadein flow-text">maps,"sentences", problem solving, etc.</p>
		<p class="fadein flow-text">Many people in the young generation are<em>learning languages based on complexity</em></p>
		<p class="fadein flow-text">- like C, Java, Python, etc.</p>
		<p class="fadein flow-text">When someone writes a program in these languages, they miss out on 3 things that web development brings -</p>
		<p class="fadein flow-text">interaction, a special complexity, and products.</p>
		<p class="fadein flow-text">When it comes to most languages, to get something to pop up takes multiple lines of code -</p>
		<p class="fadein flow-text"><em>and most of what happens is never seen.</em></p>
		<p class="fadein flow-text">The simple act of making a window is a huge accomplishment for beginners.</p>
		<p class="fadein flow-text">We have the option to change that, but what's the reason behind it? To teach people not to adapt to change?</p>
		<p class="fadein flow-text"><em>NO,</em> we can't do that. Our world has so much change in it on a daily basis, we have to embrace it.</p>
		<p class="fadein flow-text"><em><strong>So let's do that.</strong></em></p>
		<p class="fadein flow-text">Why not introduce the basics, and increase complexity, like web development?</p>
		<p class="fadein flow-text">Start with a map (HTML).</p>
		<p class="fadein flow-text">Increase complexity by adding selectors, identification and co-operation (HTML and CSS).</p>
		<p class="fadein flow-text">Move up to interaction (JavaScript),</p>
		<p class="fadein flow-text">and finish with languages like PHP, C, Java and Python,</p>
		<p class="fadein flow-text">which require a lot more to make a lot less</p>
		<p class="fadein flow-text" id="closer">- that's what inspired the HexR initiative, <strong>so why not inspire the world?</strong></p>
	</div>
</div>
