---
path: /request/email
title: Send us an email to request a website! | HexR
---
<div class="container">
	<h1 class="center">Request a Site</h1>
	<p class="flow-text">Hey there 👋</p>
	<p class="flow-text">It looks like you have javascript disabled! We get that, there's a lot of bloatware on the web. We normally use a request form for website requests, but it requires javascript to prevent spam submissions.* We have a dedicated inbox for website requests, so please <a href="mailto:request@hexr.org">send us an email</a> instead of using the form. Thanks for your understanding!</p>
	<p class="flow-text"><small>*We noticed a 100% drop in successful automated spam submissions after using javascript to submit requests!</small></p>
</div>
