---
title: HexR Pricing
captcha: true
---
<div class="container">
	<h1 class="center">HexR | Plans</h1>
	<p class="center flow-text">
		The table below gives a quick description of our "plans". They are just for your reference;
		<a class="modal-trigger needsjs btn flow-text waves-effect waves-light hexr-background" href="#request">
			Request a Website
		</a>
		<a class="noscript btn flow-text waves-effect waves-light hexr-background" href="/request/email">
			Request a Website
		</a>&nbsp;
		for further discussion.
	</p>
	<table class="tg center flow-text bordered">
		<tr>
			<th class="normal">Feature</th>
			<th class="special-2">Basic</th>
			<th class="normal">Plus</th>
			<th class="special-2">Platinum</th>
		</tr>
		<tr>
			<td class="special">CMS</td>
			<td class="special">Wordpress (Can use other upon request)</td>
			<td class="special">Wordpress (Can use other upon request)</td>
			<td class="special">Wordpress (Can use other upon request)</td>
		</tr>
		<tr>
			<td class="normal">Mail</td>
			<td class="special-2">Up to 10 names w/ autoforward</td>
			<td class="normal">Up to 10 names w/ autoforward</td>
			<td class="special-2">Google Apps Integration</td>
		</tr>
		<tr>
			<td class="special">Drive</td>
			<td class="special">OwnCloud Setup (Google Drive for private domains)</td>
			<td class="special">OwnCloud Setup (Google Drive for private domains)</td>
			<td class="special">OwnCloud Setup (Google Drive for private domains)</td>
		</tr>
		<tr>
			<td class="normal">Domain and Hosting</td>
			<td class="special-2">Free basic subdomain and hosting</td>
			<td class="normal">Domain setup w/ hosting provider</td>
			<td class="special-2">Domain setup w/ hosting provider</td>
		</tr>
		<tr>
			<td class="special">Other Features</td>
			<td class="special">Upon Request</td>
			<td class="special">Upon Request</td>
			<td class="special">Upon Request</td>
		</tr>
		<tr>
			<td class="normal">Price</td>
			<td class="special-2">$0.00</td>
			<td class="normal">$5.00 - $15.00 / month</td>
			<td class="special-2">Starting at $5 / user / month + domain</td>
		</tr>
	</table>
	<p class="flow-text center">
		These plans are just for reference. Please
		<a class="modal-trigger needsjs btn flow-text waves-effect waves-light hexr-background" href="#request">
			Request a Website
		</a>
		<a class="noscript btn flow-text waves-effect waves-light hexr-background" href="/request/email">
			Request a Website
		</a>&nbsp;
		so we can discuss this more in depth.
	</p>
	{{> components/request-form}}
</div>
