---
title: Open Source Projects | HexR
---
{{#contentFor "head"}}
<link rel="stylesheet" href="/assets/css/projects.css" />
<script src="/assets/js/projects.js"></script>
{{/contentFor}}

<div class="container">
	<h1 class="center">HexR Projects</h1>
	<p class="flow-text">
		When not working with clients, HexR works on projects to better serve the community. Here are some of the projects that we are working on:
	</p>
	<div class="projects row">
		<div class="col s12 m4">
			<div class="project center">
				<div class="project-title flow-text">PlanView (Formerly TWMaker)</div>
				<div class="project-subtitle flow-text">Access all your teachers' websites in one page</div>
				<div class="project-description">PlanView is an all-in-one school app. Take <em>quick notes</em> and <em> access your teacher's websites</em> in a clean, simple to use interface.</div>
				<div class="project-logos">
					<div class="project-logo logo-github" data-bind-href="https://github.com/HexRWeb/planview"></div>
					<div class="project-logo logo-favicon logo-favicon-twmaker" data-bind-href="/projects/planview"></div>
				</div>
			</div>
		</div>
		{{!-- <div class="col s12 m4">
			<div class="project center">
				<div class="project-title">ImageHosting</div>
				<div class="project-subtitle">Quickly upload and store an image</div>
				<div class="project-description">Image Hosting allows a user to upload an image and choose the file-name or have it randomly generated. <span class="red-text">Please note that this script is vulnerable to injection. It is not recommended to use on a production server.</span></div>
				<div class="project-logos">
					<div class="project-logo logo-github" data-bind-href="https://github.com/HexRdesign/imagehosting"></div>
					<div class="project-logo logo-favicon logo-favicon-ih" data-bind-href="/projects/imagehosting"></div>
				</div>
			</div>
		</div> --}}
		<div class="col s12 m4">
			<div class="project center">
				<div class="project-title">Exstatic</div>
				<div class="project-subtitle">Opinionated static site generation</div>
				<div class="project-description">
					Exstatic (hEXr STATIC) is our take on CMS. Simple, Modern, Easy to install and use. You can follow project development on
					<a href="https://github.com/hexrweb/exstatic" target="_blank" rel="noopener noreferrer">Github</a>
				</div>
{{!-- 				<div class="project-logos">
					<div class="project-logo logo-github project-disabled-logo"></div>
					<div class="project-logo logo-favicon logo-favicion-null project-disabled-logo"></div>
				</div> --}}
			</div>
		</div>
		<div class="col s12 m4">
			<div class="project{{!--  project-coming-soon --}} center">
				{{!-- <div class="project-coming-soon-ribbon">Coming Soon!</div> --}}
				<div class="project-title">MediaPHP</div>
				<div class="project-subtitle">Simple media manager</div>
				<div class="project-description">MediaPHP is a quick, simple and easy to use interface to manage media on a website - create playlists, shuffle and repeat music, manage collections</div>
				<div class="project-logos">
					<div class="project-logo logo-github project-disabled-logo"></div>
					<div class="project-logo logo-favicon logo-favicion-null project-disabled-logo"></div>
				</div>
			</div>
		</div>
{{!--		 <div class="col s12 m4">
			<div class="project project-coming-soon center">
				<div class="project-coming-soon-ribbon">Coming Soon!</div>
				<div class="project-title">Spotify Web Player</div>
				<div class="project-subtitle">A simple to use extension to increase web interface productivity</div>
				<div class="project-description">Here at HexR, we use Spotify like crazy. With a beautiful web interface, we couldn't resist creating an extension that uses built in hotkeys to skip tracks.</div>
				<div class="project-logos">
					<div class="project-logo logo-github project-disabled-logo"></div>
					<div class="project-logo logo-favicon logo-favicion-null project-disabled-logo"></div>
				</div>
			</div>
		</div>
		<div class="col s12 m2"></div>
	</div> --}}
</div>
