---
title: PlanVIEW - A project by HexR
path: /projects/planview
---
{{#contentFor "head"}}
<link rel="stylesheet" href="/assets/css/projects.css" />
<script src="/assets/js/projects.js"></script>
{{/contentFor}}
<div class="container">
	<h2 class="center">PlanView</h2>
	<h3 class="center">A project from HexR</h3>
	<p class="flow-text">
		<b>PlanView</b> is an all-in-one school app. Take quick <em>notes</em> and <em>access your teachers' websites</em> in a clean, simple user interface. PlanView is available on the
		<a href="https://chrome.google.com/webstore/detail/planview/ahdmabmmnnkachilcgkacffibgbgfoln" target="_blank" rel="noopener noreferrer">
			Chrome Webstore
		</a>
	</p>
	<a href="https://github.com/hexrweb/planview" target="_blank">Check it out on GitHub</a>
	<p class="flow-text center">
		<a class="btn green waves-effect" href="https://docs.hexr.org/planview">Documentation</a>
	</p>
</div>
