---
title: ImageHosting - A project by HexR
path: /projects/image-hosting/
---
{{#contentFor "head"}}
<link rel="stylesheet" href="/assets/css/projects.css" />
<script src="/assets/js/projects.js"></script>
{{/contentFor}}
<div class="container">
	<h1 class="center">ImageHosting - Projects from HexR</h1>
	<p class="flow-text">ImageHosting makes it easy for people to quickly upload and share images</p>
	<p class="flow-text">
		ImageHosting is being re-written to ease the upload process and increase efficiency. We're not sure when it will be completed
	</p>
</div>
