---
title: HexR Sponsors
---
<div class="container">
	<h1 class="center">HexR Sponsors</h1>
	<p class="flow-text">
		HexR lives off of sponsors! The only way we can run is by you. Here are some people that sponsor us right now:
	</p>
	<h3>We are currently sponsored by:</h3>
	<ul class="flow-text">
		<li><a href="https://www.gandi.net" {{> blank-target}}>Gandi Domain Management</a></li>
		<li><a href="https://www.bitrixsoft.com" {{> blank-target}}>Bitrix for CRM</a></li>
		<li><a href="https://www.yandex.com/" {{> blank-target}}>Yandex for mail services</a></li>
		<li><a href="https://www.linode.com" {{> blank-target}}>Linode for hosting</a></li>
		<li><a href="https://www.browserstack.com/" {{> blank-target}}>BrowserStack for project testing</a></li>
		<li><a href="http://www.solveigmm.com/" {{> blank-target}}>Solveig MultiMedia for video recording</a></li>
		<li><a href="https://www.codeanywhere.com/" {{> blank-target}}>CodeAnyWhere for integrated development (anywhere!)</a></li>
	</ul>
	<h3>Previous sponsors include:</h3>
	<ul class="flow-text">
		<li>Squee was our host until 4/27/2015</li>
	</ul>
</div>
