---
path: /support/deprecated
layout: 'none'
---
<!doctype html>
<html>
	<head>
		<title>HexR website support deprecated</title>
		<style>body{line-height:1.5;text-align:justify;background:rgba(0,0,0,0.9);color:white;font-family:serif;font-size:1.5em;display:flex;flex-direction:column;height:100vh;overflow:hidden;align-items:center;justify-content:center}p{padding:5%}a{color:#918f8f}</style>
	</head>
	<body>
		<p>Hey there! We previously used OSTicket for support requests. However, due to its cumbersome upgrade proceess and frequent updates (many including security enhancements), we have shut down the app until further notice. If you need support from HexR, please email HexR support: <a href="mailto:support@hexr.org">support@hexr.org</a>.</p>
	</body>
</html>
