---
title: The Book | HexR
path: /the-book
---
<div class="container">
    <h1 class="center">The Book (by HexR Web)</h1>
    <h3 class="center">Table of Contents</h3>
    <ul class="center">
        <li class="flow-text"><a href="/the-book/jan-2016-introduction">January 2016 (Introduction)</a></li>
        <li class="flow-text"><a href="feb-2016-computer-components">February 2016 (Computer Components)</a></li>
    </ul>
</div>
<p class="center container flow-text">
    Note: We haven't forgotten about this! It's unfortunately been put on the
    backburner while we put our attention towards Open Source projects & website development. If you're
    knowledgeable about computer basics and would like to contribute, feel free to email us (<a href="mailto:hello@hexr.org">hello@hexr.org</a>)
</p>
