<!doctype html>
<html>
    <head>
        <title>{{page.title}}</title>
        {{!-- <meta name="description" content="HexR is a small independent nonprofit (not licensed) business that creates and manages semi-static websites for small business at little to no charge." />
        <meta name="keywords" content="HexR Website Design Development Free" /> --}}
        <meta name="robots" content="index, follow" />
        <meta name="language" content="english" />
        <meta name="author" content="HexR" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="HandheldFriendly" content="true" />
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css" />
        <link href="/assets/css/global.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-latest.min.js"></script>
        <script src="/assets/js/combined.min.js"></script>
        <noscript><style>main, footer {display: none}#noscript {display: inherit}</style></noscript>
        {{{block "head"}}}
    </head>
    <body class="cyan darken-2">
        <header>
            <div class="navbar-fixed hexr-background">
                <nav class="hexr-background">
                    <div class="nav-wrapper hexr-background">
                        <a href="/" class="brand-logo font-anders hide-on-med-and-down active">HexR</a>
                        <a href="/" class="brand-logo font-anders center hide-on-large-only active">HexR</a>
                        <a href="#" data-activates="mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
                        <!-- @todo: Active page -->
                        <ul class="right hide-on-med-and-down">
                            <li><a class="flow-text" href="/about">About</a></li>
                            <li><a class="flow-text" href="/initiative">Initiative</a></li>
                            <li><a class="flow-text" href="/projects">Projects</a></li>
                            <li><a class="flow-text" href="/pricing">Pricing</a></li>
                            <li><a class="flow-text" href="/faq">FAQ</a></li>
                            <li><a class="flow-text" href="/clients">Clients</a></li>
                            <li><a class="flow-text" href="/sponsors">Sponsors</a></li>
                            <li><a class="flow-text" href="/contact">Contact</a></li>
                            <li><a class="center" href="/the-book">The Book</a></li>
                        </ul>
                        <ul class="side-nav page-background white-text" id="mobile">
                            <li><a class="center" href="/about">About</a></li>
                            <li><a class="center" href="/initiative">Initiative</a></li>
                            <li><a class="center" href="/projects">Projects</a></li>
                            <li><a class="center" href="/pricing">Pricing</a></li>
                            <li><a class="center" href="/faq">FAQ</a></li>
                            <li><a class="center" href="/clients">Clients</a></li>
                            <li><a class="center" href="/the-book">The Book</a></li>
                            <li><a class="center" href="/sponsors">Sponsors</a></li>
                            <li><a class="center" href="/contact">Contact</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <div id="noscript" class="center valign-wrapper animated bounce">
            <div class="valign center" id="noscript-wrapper">
                <h5>Uh-Oh!</h5>
                <h4>Why no JavaScript?</h4>
                <h3>This website requires javascript to run!</h3>
                <h2><a href="http://enable-javascript.com/" target="_blank">Enable JavaScript</a> to find out what HexR is about!</h2>
            </div>
        </div>
        <main class="white-text grey darken-4">
            {{{body}}}
        </main>
        <footer class="page-footer hexr-background">
            <div class="container valign-wrapper">
                <div class="row valign">
                    <div class="col l6 s12 valign">
                        <br />
                        <img src="/assets/img/logo.png" class="center logo small responsive-img" alt="hexr logo" />
                        <p class="grey-text text-lighten-4">
                            HexR. The only organization fully dedicated to producing the best websites for everyone. We're ready to take any challenge you throw at us, from a small single page site to a large ten thousand page site. From the fearing individual to the tech savvy engineer. Whoever you are and whatever you need, we're ready to help you.
                            <a href="/request" class="teal-text text-accent-4"> Let's get started</a>!
                        </p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <br class="hide-on-med-and-down" />
                        <br class="hide-on-med-and-down" />
                        <br class="hide-on-med-and-down" />
                        <h5 class="white-text center">Quick Links</h5>
                        <ul class="center">
                            <li><a class="teal-text text-accent-4 flow-text footer-nav-link" href="/contact">Contact</a></li>
                            <li><a class="teal-text text-accent-4 flow-text footer-nav-link" href="/policies#legal">Legal</a></li>
                            <li><a class="teal-text text-accent-4 flow-text footer-nav-link" href="/initiative">Initiative</a></li>
                            <li><a class="teal-text text-accent-4 flow-text footer-nav-link" href="/about">About</a></li>
                            <li><a class="teal-text text-accent-4 flow-text footer-nav-link" href="/policies#tos">Terms of Service</a></li>
                            <li><a class="teal-text text-accent-4 flow-text footer-nav-link" href="/policies#privacy">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container center">
                    &copy; 2019 HexR Website Design, Development and Production.
                    <a href="/contact" class="teal-text text-accent-4">Contact for information</a>
                </div>
            </div>
        </footer>
    </body>
    <div id="scripts" class="hide">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="/assets/js/global.js" defer></script>
        <script src="https://www.google.com/recaptcha/api.js" async></script>
        <script>var _paq = _paq || [];_paq.push(['trackPageView']);_paq.push(['enableLinkTracking']);(function () {var u = "//proxy.hexr.org/a/p";_paq.push(['setTrackerUrl', u + '.php']);_paq.push(['setSiteId', 1]);var d = document,g = d.createElement('script'),s = d.getElementsByTagName('script')[0];g.async = true;g.defer = true;g.src = u + '.js';s.parentNode.insertBefore(g, s)})();</script><noscript><p><img src="https://assets.hexr.org/lib/piwik/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
        {{{block "scripts"}}}
    </div>
</html>
